@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background: url(img/vecteezy_clear-blue-sky-with-plain-white-cloud-with-space-for-text_6893924.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

.main-container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(80px);
    z-index: 1;
}

/* Weather Card */
.card {
    border-radius: 12px;
}

.card-body {
    padding: 20px;
}

.temp-txt {
    font-size: 2rem;
    font-weight: bold;
}

.description-txt {
    font-size: 1.2rem;
}


.forcast-items-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
}

.forcast-items {
    min-width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    transition: 0.3s;
}

.forcast-items:hover {
    background: rgba(27, 85, 209, 0.5);
}
.weather-summary-img {
    width: 100px;
    max-width: 100%;
    height: auto;
}

/* Forecast Image */
.image-item-weather {
    width: 80px;
    max-width: 100%;
    height: auto;
}

/* Forecast Cards */
.forcast-item {
    background: #17a2b8;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .main-container {
        width: 95%;
        padding: 20px;
    }

    .forcast-items {
        min-width: 100px;
    }
    .weather-summary-img {
        width: 80px;
    }

    .image-item-weather {
        width: 70px;
    }
}

@media (max-width: 480px) {
    .forcast-items {
        min-width: 80px;
        font-size: 0.9rem;
    }
}
